<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./Assets/CSS/index.css">
  <title>Musée du louvre</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <!-- [NAV BAR] -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a id="img_logo" class="navbar-brand" href="Index"><img src="./Assets/Images/logo.png" width="75" height="75"><span id="font_special_logo">Louvre</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a id="modification_link" class="nav-link" href="Index"><i class="fas fa-home"></i>Accueil</a>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-basket"></i>Boutique</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Ticket</a>
              <a class="dropdown-item" href="#">Goodies</a>
            </div>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="Boutique"><i class="fas fa-shopping-basket"></i>Boutique</a>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-map-marked-alt"></i>Informations</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Horraires</a>
              <a class="dropdown-item" href="#">Plan</a>
              <a class="dropdown-item" href="#">Contact</a>
            </div>
          </li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i><span id="lbl_username">Connexion</span></a>
            <div id="account_option" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" type="button" data-toggle="modal" data-target="#registerModal" id="lbl_haut" href="#">S'enregistrer</a>
              <a class="dropdown-item" type="button" data-toggle="modal" data-target="#connexionModal" id="lbl_bas" href="#">Se connecter</a>
            </div>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-info-circle"></i>À propos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Dons</a>
              <a class="dropdown-item" href="#">Newsletter</a>
            </div>
          </li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe"></i>Langues</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Français</a>
              <a class="dropdown-item" href="#">Anglais</a>
              <a class="dropdown-item" href="#">Chinois</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- [MODAL-REGISTER] -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLabel">S'enregistrer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <!-- [FORM] -->
        <form><!--action="Register" method="post"-->
          <div class="form-group">
            <label for="registerInputEmail">Email address</label>
            <input type="text" class="form-control" id="registerInputEmail" aria-describedby="emailHelp" placeholder="Enter email" required><!-- name="registerInputEmail" -->
            <label for="registerInputUsername">Username</label>
            <input type="text" class="form-control" id="registerInputUsername" aria-describedby="emailHelp" placeholder="Enter username" required><!-- name="registerInputUsername" -->
          </div>
          <div class="form-group">
            <label for="registerInputPassword">Password</label>
            <input type="password" class="form-control" id="registerInputPassword" placeholder="Password" aria-describedby="passHelp" required><!-- name="registerInputPassword" -->
            <label for="confirmRegisterInputPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmRegisterInputPassword" placeholder="Confirm password" aria-describedby="passHelp" required><!-- name="confirmRegisterInputPassword" -->
          </div>
          <div id="alert_register" class="alert alert-info fade show" role="alert">
            <p id="alert_register_message">Tous les champs doivent êtres remplis</p>
          </div>
          <div class="text-right">
             <button type="button" id ="modal_register" class="btn btn-primary">S'enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- [MODAL-CONNEXION] -->
<div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Se connecter</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
      <!-- [FORM] -->
        <form><!-- action="Login" method="post"-->
          <div class="form-group">
            <label for="connexionInputUsername">Username</label>
            <input type="text" class="form-control" id="connexionInputUsername" aria-describedby="emailHelp" placeholder="Enter username" required><!-- name="connexionInputUsername" -->
          </div>
          <div class="form-group">
            <label for="connexionInputPassword">Password</label>
            <input type="password" class="form-control" id="connexionInputPassword" placeholder="Password" aria-describedby="passHelp" required><!-- name="connexionInputPassword" -->
          </div>
          <div id="alert_connexion" class="alert alert-info fade show" role="alert">
            <p id="alert_connexion_message">Tous les champs doivent êtres remplis</p>
          </div>
          <div class="text-right">
             <button id ="modal_connexion" type="button" class="btn btn-primary">Connexion</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <!-- [JUMBOTRON] -->
  <div id="divColor" class="py-5">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="./Assets/Images/Caroussel_04.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Tickets Enfants</strong></h5>
              <p class="card-text">Ce ticket permet de visiter tout le musée sans restriction. Il est valable pour les personnes ayant entre 0 et 18 ans.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button id="btn_ticket_enfant_moins" type="button" class="btn btn-md btn-outline-secondary">-</button>
                  <button id="btn_ticket_enfant_plus" type="button" class="btn btn-md btn-outline-secondary">+</button>
                </div>
                <h2 class="text-muted">GRATUIT</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="./Assets/Images/Caroussel_04.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Tickets Adultes</strong></h5>
              <p class="card-text">Ce ticket permet de visiter tout le musée sans restriction. Il est valable pour les personnes ayant entre 18 et 55 ans.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button id="btn_ticket_adulte_moins" type="button" class="btn btn-md btn-outline-secondary">-</button>
                  <button id="btn_ticket_adulte_plus" type="button" class="btn btn-md btn-outline-secondary">+</button>
                </div>
                <h2 class="text-muted">15 €</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="./Assets/Images/Caroussel_04.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Tickets Personnes agées</strong></h5>
              <p class="card-text">Ce ticket permet de visiter tout le musée sans restriction. Il est valable pour les personnes ayant plus de 55 ans.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button id="btn_ticket_persoa_moins" type="button" class="btn btn-md btn-outline-secondary">-</button>
                  <button id="btn_ticket_persoa_plus" type="button" class="btn btn-md btn-outline-secondary">+</button>
                </div>
                <h2 class="text-muted">7.5 €</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-12">
          <div class="card-body">
            <h5 class="card-title text-center"><strong>Recapitulatif</strong></h5>
            <h6 class="card-subtitle mb-2 text-muted">Quantité</h6>
            <p class="card-text"><strong>ticket Enfant : </strong><span id="recapitulatif_ticket_Enfant">0</span></p>
            <p class="card-text"><strong>ticket Adulte : </strong><span id="recapitulatif_ticket_Adulte">0</span></p>
            <p class="card-text"><strong>ticket Personne agée : </strong><span id="recapitulatif_ticket_PersoA">0</span></p>
            <p class="card-text text-center"><strong>Total : </strong><span id="recapitulatif_total">0</span> €</p>
            <div id="alert_recapitulatif" class="alert alert-info fade show" role="alert">
                  <p id="alert_recapitulatif_message" class="text-center">Vous pouvez consulter l'état de votre commande ici</p>
            </div>
            <div class="btn-group float-right">
                  <button id="btn_recapitulatif_annuler" type="button" class="btn btn-md btn-outline-secondary">Annuler</button>
                  <button id="btn_recapitulatif_confirmer" type="button" class="btn btn-primary btn-md">Confirmer</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- [FOOTER] -->
  <footer class="bg-light sticky-bottom">
    <div class="container-fluid padding">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6>
          <a id="footer_home_link" href="Index" class="text-secondary fontSpecial"><i class="fas fa-home"></i>Accueil</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6>
          <a href="Boutique" class="text-secondary fontSpecial"><i class="fas fa-shopping-basket"></i>Boutique</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6>
          <div class="dropup">
            <a href="#" type="button" class="text-secondary dropdown-toggle fontSpecial" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i><span id="footer_lbl_username">Connexion</span></a>
              <div class="dropdown-menu">
                <!-- Dropdown menu links -->
                <a id="footer_lbl_haut" class="dropdown-item" type="button" data-toggle="modal" data-target="#registerModal" href="#">S'enregistrer</a>
              	<a id="footer_lbl_bas" class="dropdown-item" type="button" data-toggle="modal" data-target="#connexionModal" href="#">Se connecter</a>
              </div>
          </div>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6>
          <div class="dropup">
            <a href="#" type="button" class="text-secondary dropdown-toggle fontSpecial" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe"></i>Langues</a>
              <div class="dropdown-menu">
                <!-- Dropdown menu links -->
                <a href="#" class="dropdown-item">Français</a>
                <a href="#" class="dropdown-item">Anglais</a>
                <a href="#" class="dropdown-item">Chinois</a>
              </div>
          </div>
        </h6>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <hr id="hr_footer">
        <ul class="list-inline list-unstyled">
          <li class="list-inline-item"><a href="http://twitter.com/museelouvre" class="text-secondary"><i class="fab fa-twitter-square fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/museedulouvre" class="text-secondary"><i class="fab fa-facebook-square fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/museelouvre/" class="text-secondary"><i class="fab fa-instagram fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/user/louvre" class="text-secondary"><i class="fab fa-youtube-square fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  </footer>
  <!-- [SCRIPT] -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="./Assets/JS/boutique_script.js"></script>
  <script src="./Assets/JS/index_html_script.js"></script>
  </body>
</html>